name: Build and test

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  markedit-mac:
    name: MarkEditMac
    runs-on: macos-13
    env:
      node-version: '18.x'
      DEVELOPER_DIR: /Applications/Xcode_15.0.app/Contents/Developer

    defaults:
      run:
        working-directory: 'CoreEditor'

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.node-version }}
          cache: 'npm'
          cache-dependency-path: '**/yarn.lock'

      - name: Build and test CoreEditor
        run: |
          yarn install
          yarn build
          yarn test

      - name: Build MarkEditMac
        run: |
          xcodebuild build -project ../MarkEdit.xcodeproj -scheme MarkEditMac -destination 'platform=macOS'

      - name: Test MarkEditCoreTests
        run: |
          xcodebuild test -project ../MarkEdit.xcodeproj -scheme MarkEditCoreTests -destination 'platform=macOS'

      - name: Test MarkEditMacTests
        run: |
          xcodebuild test -project ../MarkEdit.xcodeproj -scheme MarkEditMacTests -destination 'platform=macOS'

      - name: Test ModulesTests
        run: |
          xcodebuild test -project ../MarkEdit.xcodeproj -scheme ModulesTests -destination 'platform=macOS'
