name: Build and test

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  markedit-mac:
    name: MarkEditMac
    runs-on: macos-latest
    env:
      node_version: 18.x

    defaults:
      run:
        working-directory: 'CoreEditor'

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js $node_version
        uses: actions/setup-node@v3
        with:
          node-version: '$node_version'
          cache: 'npm'
          cache-dependency-path: '**/yarn.lock'

      - name: Build and test CoreEditor
        run: |
          yarn install
          yarn build
          yarn test

      - name: Build MarkEditMac
        run: |
          xcodebuild build -project ../MarkEdit.xcodeproj -scheme MarkEditMac -destination 'platform=macOS'

      - name: Test MarkEditCoreTests
        run: |
          xcodebuild test -project ../MarkEdit.xcodeproj -scheme MarkEditCoreTests -destination 'platform=macOS'

      - name: Test ModulesTests
        run: |
          xcodebuild test -project ../MarkEdit.xcodeproj -scheme ModulesTests -destination 'platform=macOS'
